<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LLFScanCodeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EBEEB6781DE6D5350001A066</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBEEB6911DE6D5350001A066</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBEEB69C1DE6D5350001A066</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
